*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'New Tegomin', serif;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../img/bg.jpg");
    background-size: cover;
    text-align: center;
}

.menu h1 {
    font-size: 48px;
    color: #fff;
}

.menu form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.menu label, .menu input {
    font-size: 20px;
}

.menu input {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.menu button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #218838;
}

.body {
    display: none; /* Initially hide the game board */
    background: url("../img/bg.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox, #hiscoreBox {
    position: absolute;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    color: white;
}

#scoreBox {
    top: 9px;
    right: 200px;
}

#hiscoreBox {
    top: 59px;
    right: 140px;
}

#board {
    background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake {
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food {
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
}
